.square{
    height: 250px;
    width: 250px; ;
    border: 2px solid blue;
    border-image: linear-gradient(to right, #000000, #4a4a4a);;
    border-image-slice: 1;
}

.square img {
    height: 250px;
    width: 250px; 
}
