#horraires {
    text-align: left;
    line-height: 2em;
}
#parcs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    grid-gap: 40px;
    width: 100%;
    height: 100%;
}

.image {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}


.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-weight: bold;
}
.image:hover .overlay {
    opacity: 1;
}
.image:hover .flou {
    filter: blur(5px);
}